
<div class="page-head">
  <h2 class="page-head-title">Pendiente de Carga</h2>
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb page-head-nav">
      <li class="breadcrumb-item"><a href="#">Despachos del Sistema</a></li>
    </ol>
  </nav>
</div>

<div class="main-content container-fluid">

    <div class="col-md-12">
    <div class="card card-border-color card-border-color-danger">
        <div class="card-header">
                  <b> Filtro de búsqueda  </b>  
            </div>
        <div class="card-body">
            <div class="row">
          
                <div class="col-md-3">
                    <label class="col-form-label text-sm-right" for="username">Propietario:</label>
                    
                    <mat-form-field class="input-form-field  col-sm-8 ">
                        <mat-select [formControl]="ClientesCtrl" [(value)]="model.PropietarioId" >
                         <mat-option>

                          </mat-option>
                          <mat-option  *ngFor="let pow of filteredClientes  | async"  [value]="pow.val">
                              {{pow.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                    <div class="col-md-3">
                      <label class="control-label" for="username">Intervalo:</label>
                       <mat-form-field class="input-form-field  col-sm-8 ">
                          <mat-select  [(value)]="model.intervalo" >
                            <mat-option  *ngFor="let pow of intervalo"  [value]="pow.val">
                                {{pow.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label" for="username">Estado:</label>
                        <mat-form-field class="input-form-field  col-sm-8 ">
                            <mat-select  [(value)]="model.estadoIdfiltro" >
                              <mat-option  *ngFor="let pow of estados"  [value]="pow.val">
                                  {{pow.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                      </div>
  
                <div class="col-md-3">
                   <button class="btn btn-block btn-danger"  (click)="buscar()"  type="button">Buscar</button>
                </div>
             
              </div>
        </div>
    </div>

  </div>
<div class="col-md-12">


  <div class="card card-border-color card-border-color-danger">
    <div class="card-header">
        
          <div  [hidden]="!checkSelects()">
              <b> Pendientes de despacho  </b> <span class="card-subtitle">   Listado de picking pendiente de despacho</span>
          </div>
          <div  [hidden]="checkSelects()" >
              <b> Órdenes seleccionadas  :  {{selection.selected.length}} </b>  <span class="card-subtitle">   Listado de picking pendiente de despacho</span>
          </div>
      </div>
    
  

 
  
        <div class="row">
    
            <div class="col-md-1">
                
            </div>
            <div class="col-md-3">
                <button class="btn btn-block  btn-primary" ngbTooltip="Crear Carga"  (click)="agregar()"  type="button">Crear Carga </button>  
            </div>
            <div class="col-md-3">
                
            </div>
       
    
            <div  class="col-md-4">
                <div class="input-container">
                    <i class="fa fa-search"></i>
                    <mat-form-field class="search-form-field" >
                      <input matInput [(ngModel)]="searchKey" placeholder="Filtrar..." autocomplete="off" (keyup)="applyFilter()">
                    </mat-form-field>
                    </div>
              </div>
        </div>
        <div class="card-body">
        <div  class="example-container mat-elevation-z8">
            <mat-table #table [dataSource] = "listData" matSort >
             
                <ng-container matColumnDef="select" sticky>
                    <mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)"
                                       >
                      </mat-checkbox>
                    </mat-cell>
                </ng-container>

               <ng-container matColumnDef="codigo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                <mat-cell  *matCellDef="let orden" > 
                      <span class="label label-info pull-xs-center">{{orden.codigo}}</span>
                </mat-cell>
              </ng-container>
        
          
                <ng-container matColumnDef="producto" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header >  Producto </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.producto}} </mat-cell>
                  </ng-container>


                  <ng-container matColumnDef="peso" >
                      <mat-header-cell *matHeaderCellDef mat-sort-header >  Peso </mat-header-cell>
                      <mat-cell *matCellDef="let user"> {{user.peso}} </mat-cell>
                    </ng-container>
            
                  <ng-container matColumnDef="unidadMedida">
                      <mat-header-cell *matHeaderCellDef mat-sort-header > Unidad Medida </mat-header-cell>
                      <mat-cell *matCellDef="let user"> {{user.unidadMedida}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="fechaRequerida">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Requerida</mat-header-cell>
                        <mat-cell *matCellDef="let user"> 
                            {{user.fechaRequerida | date:'dd-MM-yyyy' }} 
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="horaRequerida">
                          <mat-header-cell *matHeaderCellDef mat-sort-header >  Hora Requerida </mat-header-cell>
                          <mat-cell *matCellDef="let user"> {{user.horaRequerida}} </mat-cell>
                        </ng-container>
        

                      <ng-container matColumnDef="fechaRegistro">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Registro</mat-header-cell>
                          <mat-cell *matCellDef="let user"> 
                              {{user.fechaRegistro | date:'dd-MM-yyyy' }} 
                          </mat-cell>
                        </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; " ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"> 

            </mat-row>
          
          
            </mat-table>


           <mat-paginator [pageSizeOptions]="[ 10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>

          </div>
        
    </div>
   
  </div>
</div>


</div>

<swal
  #deleteSwal
  title="Eliminar la Orden"
  text="¿Esta seguro que desea eliminar la orden?"
  type="question"
  showCancelButton= true >
</swal>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

