
<div class="page-head">
  <h2 class="page-head-title">Mantenimiento de Propietarios del Sistema</h2>
 <nav aria-label="breadcrumb" role="navigation">
   <ol class="breadcrumb page-head-nav">
    <ol class="breadcrumb page-head-nav">
      <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
      <li class="breadcrumb-item active">Listado de Propietarios</li>
    </ol>
   </ol>
 </nav>
</div>

<div class="main-content container-fluid">
<div class="col-md-12">
 <div class="card card-border-color card-border-color-primary">
   <div class="card-header card-header-divider">
    <div class="row">
         <b> Propietarios |  </b>  <span class="card-subtitle">   Listado de propietario del sistema</span>
       </div>
     </div>
    <div class="card-body">
       <div  class="mat-elevation-z8">


        <button mat-fab ngbTooltip="Nuevo Propietario" color="primary"  routerLink="/mantenimiento/nuevopropietario"> <i aria-hidden="true" class="fa fa-plus fa-1x"></i></button> 
          <p-table [style]="{width:'100%'}" 
              [scrollable]="true" [columns]="cols" [value]="clientes"
               #dt [paginator]="true"  
              [rows]="40" [resizableColumns]="true"  [responsive]="true"  >

            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                  <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
              </colgroup>
          </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                  <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                      {{col.header}}
                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
              </tr>
          </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr  [pSelectableRow]="rowData">
                  <td class="ui-resizable-column">  
                    <div class="ui-inputgroup">
                      <button class="btn btn-space btn-sm btn-primary" pInputText  (click)="verClientes(rowData.id)"  pTooltip="Ver clientes asociados"   type="button"><i class="fa fa-search"></i></button>
                      <button class="btn btn-space btn-sm btn-info" (click)="editar(rowData.id)"   type="button"><i class="fa fa-edit"></i></button>
                      <button class="btn  btn-space btn-sm btn-primary" (click)="vincular(rowData.id)"  type="button"><i class="fa fa-plus"></i></button>
                    </div>
                </td>
                  
                  <td class="ui-resizable-column"> {{rowData.razonSocial  }}</td>
                  <td class="ui-resizable-column"> {{rowData.nombreCorto}} </td>
                  <td  [ngClass]="rowData.nombreEstado == 'Almacenado' ? 'old-car' :  (rowData.nombreEstado == 'Asignado'?'very-old-car': null) "> {{rowData.tipoDocumento  }}</td>
                  <td class="ui-resizable-column"> {{rowData.documento  }} </td>
                  
              </tr>
              </ng-template>

          </p-table>

         </div>
       
   </div>
  
 </div>
</div>


<div class="col-md-12">


  <div class="card card-border-color card-border-color-primary">
    <div class="card-header card-header-divider">
        
     <div class="row">
          <b> Clientes vinculados |  </b>  <span class="card-subtitle">   Listado de clientes vinculados</span>
        </div>
      </div>
 
    <div class="card-body">
        
        <div  class="mat-elevation-z8">
            <mat-table #table [dataSource] = "listData1" matSort >
               <!-- Checkbox Column -->
               <ng-container matColumnDef="razonSocial">
                  <mat-header-cell *matHeaderCellDef mat-sort-header >  Razón Social </mat-header-cell>
                  <mat-cell *matCellDef="let cliente"> {{cliente.razonSocial}} </mat-cell>
                </ng-container>
        
          
 
                <ng-container matColumnDef="tipoDocumento">
                 <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Documento</mat-header-cell>
                 <mat-cell *matCellDef="let cliente"> {{cliente.tipoDocumento}} </mat-cell>
               </ng-container>
         
 
               <ng-container matColumnDef="documento">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Documento</mat-header-cell>
                <mat-cell *matCellDef="let cliente"> {{cliente.documento}} </mat-cell>
              </ng-container>
    
          
 
           
                  <ng-container matColumnDef="actionsColumn">
                      <mat-header-cell *matHeaderCellDef>
                         <!-- <button mat-fab ngbTooltip="Nuevo Propietario" color="primary"  routerLink="/mantenimiento/nuevopropietario"> <i aria-hidden="true" class="fa fa-plus fa-1x"></i></button>  -->
 
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                          <button class="btn  btn-outline-primary" (click)="eliminar(row.id)" ngbTooltip="Eliminar Cliente"  type="button"><i class="fa fa-trash"></i></button>
                      </mat-cell>
                  </ng-container>
         
          
            <mat-header-row *matHeaderRowDef="displayedColumns1; " ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns1;" >
            </mat-row>
          
            </mat-table>
 
           <mat-paginator [pageSizeOptions]="[ 10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
 
          </div>
        
    </div>
   
  </div>
 </div>
 


</div>


<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>