<div class="page-head">
  <h2 class="page-head-title">Mantenimiento de Producto del Sistema</h2>
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb page-head-nav">
      <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/mantenimiento/listadoproducto']" routerLinkActive="router-link-active" >Listado de Productos</a></li>
      <li class="breadcrumb-item active">Editar Producto</li>
    </ol>
  </nav>
</div>
<div class="main-content container-fluid">

  
    <div class="col-md-12">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Datos de Producto<span class="card-subtitle">Editar Producto de sistema</span></div>
        <div class="card-body ">

          
          <form #f="ngForm"  (ngSubmit)="registrar(f)" >

         
            <div class="input-div">
                <label class="col-12 col-sm-3 col-form-label text-sm-right" for="familia">Familia</label>
                 <mat-form-field class="input-form-field  col-sm-8 col-lg-6">
                     <mat-select  [(value)]="model.familiaId" >
                       <mat-option  *ngFor="let pow of familia"  [value]="pow.val">
                           {{pow.viewValue}}
                       </mat-option>
                     </mat-select>
                   </mat-form-field>
               </div>
            <div class="input-div">
              <label class="col-12 col-sm-3 col-form-label text-sm-right" for="codigo">Código</label>
              <mat-form-field  class="input-form-field col-12 col-sm-8 col-lg-6">
                <input matInput autocomplete="off"  minlength="5" maxlength="50" required [(ngModel)]="model.codigo"  #codigo="ngModel" placeholder="SKU - Código de producto"  name="codigo" type="text">
              </mat-form-field>
             
            </div>
            <div class="input-div">
              <label class="col-12 col-sm-3 col-form-label text-sm-right" for="descripcion">Descripción</label>
              <mat-form-field class="input-form-field col-12 col-sm-8 col-lg-6">
                <input matInput autocomplete="off"  minlength="3" maxlength="40"  required [(ngModel)]="model.descripcionLarga"  #descripcion="ngModel" name="descripcion" placeholder="Descripción del producto" type="text">
              </mat-form-field>
             
            </div>
            <div class="input-div">
                <label class="col-12 col-sm-3 col-form-label text-sm-right" for="username">Peso</label>
                <mat-form-field  class="input-form-field col-12 col-sm-8 col-lg-6">
                  <input matInput autocomplete="off"   required [(ngModel)]="model.peso"  #peso="ngModel"   name="peso" type="text">
                </mat-form-field>
              </div>
              <div class="input-div">
                  <label class="col-12 col-sm-3 col-form-label text-sm-right" for="unidadmedida">Unidad Medida</label>
                   <mat-form-field class="input-form-field  col-sm-8 col-lg-6">
                       <mat-select  [(value)]="model.unidadMedidaId" >
                         <mat-option  *ngFor="let pow of unidadMedida"  [value]="pow.val">
                             {{pow.viewValue}}
                         </mat-option>
                       </mat-select>
                     </mat-form-field>
                </div>
                <div class="input-div">
                  <label class="col-12 col-sm-3 col-form-label text-sm-right" for="seriado">Seriado</label>
                  <div  class="offset-3 col-12 col-sm-8 col-lg-6">
                    <p-inputSwitch #seriado="ngModel"   name="seriado"  [(ngModel)]="model.seriado"></p-inputSwitch>
                  </div>
               </div>
               <div class="input-div">
                    <label class="col-12 col-sm-3 col-form-label text-sm-right" for="etiquetado">Etiquetado</label>
                    <div  class="offset-3 col-12 col-sm-8 col-lg-6">
                      <p-inputSwitch #etiquetado="ngModel"   name="etiquetado"  [(ngModel)]="model.etiquetado"></p-inputSwitch>
                    </div>
              </div>
              <div class="row pt-2 pt-sm-5 mt-1">
                    <div class="col-sm-6 pl-0">
                      <p class="text-right">
                        <button  [disabled]="!f.valid" class="btn btn-space btn-primary" type="submit">Guardar</button>
                         <button  (click)="cancel()" class="btn btn-space btn-secondary">Cancel</button> 
                  
                      </p>
                    </div>
                  </div>
     
           
          </form>
        </div>
        </div>
      </div>
    
  </div>



