
<div class="page-head">
    <h2 class="page-head-title">Movimiento de Productos</h2>
  </div>
  
  <div class="main-content container-fluid">
  
    <div class="row">
       
        <div  class="col-md-12">
            <div class="card card-border-color card-border-color-primary">
              <div class="card-header card-header-divider">Inventario de Mercadería<span class="card-subtitle">Detalle del Movimiento </span></div>
              <div class="row">
                  <div class="col-md-4">
                      <button class="btn-buttons btn-primary"   (click)="regresar()"  type="button"> << Regresar a la Orden</button>  
                  </div>
                  <div class="offset-5 col-md-4">
                     <button ngbTooltip="Confirmar" class="btn btn-space btn-primary" [swal]="confirmarSwal" (confirm)="ConfirmarTodo()">Confirmar Todo</button>
                </div>
              </div>
              <div class="card-body ">
                  <div  class="mat-elevation-z8">
                    
  
                      <mat-table #table [dataSource] = "listData" matSort >
                        
                          
                          <ng-container matColumnDef="lodNum">
                              <mat-header-cell *matHeaderCellDef mat-sort-header > LPN  </mat-header-cell>
                              <mat-cell *matCellDef="let orden"> {{orden.lodNum}} </mat-cell>
                            </ng-container>
  
                            <ng-container matColumnDef="descripcionLarga">
                              <mat-header-cell *matHeaderCellDef mat-sort-header > Producto  </mat-header-cell>
                              <mat-cell *matCellDef="let orden"> {{orden.descripcionLarga}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="lotnum">
                              <mat-header-cell *matHeaderCellDef mat-sort-header > Lote  </mat-header-cell>
                              <mat-cell *matCellDef="let orden"> {{orden.lote}} </mat-cell>
                            </ng-container>
  
                            <ng-container matColumnDef="cantidadPallet">
                              <mat-header-cell *matHeaderCellDef mat-sort-header > # en Pallet  </mat-header-cell>
                              <mat-cell *matCellDef="let orden"> {{orden.cantidadPallet}} </mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="cantidadRetiro">
                                <mat-header-cell *matHeaderCellDef mat-sort-header > # de Retiro  </mat-header-cell>
                                <mat-cell *matCellDef="let orden"> {{orden.cantidadRetiro}} </mat-cell>
                              </ng-container>
  
                            <ng-container matColumnDef="ubicacion">
                                <mat-header-cell *matHeaderCellDef mat-sort-header > Ubicación  </mat-header-cell>
                                <mat-cell *matCellDef="let orden"> {{orden.ubicacion}} </mat-cell>
                             </ng-container>
  
                             
                            <ng-container matColumnDef="proximaubicacion">
                              <mat-header-cell *matHeaderCellDef mat-sort-header > Ubicación Destino  </mat-header-cell>
                              <mat-cell *matCellDef="let orden"> {{orden.destino}} </mat-cell>
                           </ng-container>
  
                           
                         
  
                            <ng-container matColumnDef="actionsColumn">
                                <mat-header-cell *matHeaderCellDef>
                                   
                                </mat-header-cell>
                                <mat-cell *matCellDef="let orden">
                                  <div *ngIf="orden.confirmado then thenBlock else elseBlock"></div>
                                  <ng-template #thenBlock>  <div  [style.color]="'#FFFFFF'" [style.background-color]="'#0c9811'"> En Stage de Salida    </div>     </ng-template>
                                  <ng-template #elseBlock> 
                                  <button ngbTooltip="Confirmar" class="btn btn-space btn-primary" [swal]="confirmarSwal" (confirm)="Confirmar(orden.id)">Confirmar retiro</button>
                                    <!-- <button ngbTooltip="Excepciones" class="btn btn-space btn-primary" (click)="excepcion(orden.id)">Excepciones</button> -->
                                  </ng-template>  
                              </mat-cell>
                                <mat-cell *matCellDef="let row">
                                    
                                </mat-cell>
                            </ng-container>
  
                            <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
  
  
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[ 100, 200, 500, 1000]" [pageSize]="100" showFirstLastButtons></mat-paginator>
                  </div>
                  
                
        </div>
      </div>
    
       </div>
  
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <swal
  #confirmarSwal
  title="Confirmar movimiento"
  text="¿Esta seguro que desea confirmar el movimiento?"
  type="question"
  showCancelButton= true 


  
  >
</swal>