<div class="be-wrapper be-login">
  <div class="be-content-login">
      <div class="splash-container">
        <div class="card card-border-color card-border-color-primary">
          <div class="card-header"><img class="logo-img" src="assets/img/logo-TWH.png" alt="logo" width="102" height="127"><span class="splash-description">Ingrese su información de login.</span></div>
          <div class="card-body">
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
              <div class="form-group">
                <input class="form-control" id="username" type="text" 
                placeholder="Usuario" autocomplete="off" name="username" required [(ngModel)]="model.username" />
              </div>
              <div class="form-group">
                <input class="form-control" id="password" type="password" 
                placeholder="Contraseña" name="password" required [(ngModel)]="model.password"/>
              </div>
              <div class="form-group row login-tools">
                <div class="col-6 login-remember">
                  <label class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="recuerdame" type="checkbox" name="recuerdame" [(ngModel)]="model.recuerdame"><span class="custom-control-label">Recuérdame</span>
                  </label>
                </div>
                <div class="col-6 login-forgot-password"><a href="pages-forgot-password.html">¿Olvidaste tu contraseña?</a></div>
              </div>
              <div class="form-group login-submit"><button [disabled]="!loginForm.valid" class="btn btn-primary btn-xl" type="submit">Ingresar</button></div>
            </form>
          </div>
        </div>
        <!-- <div class="splash-footer"><span>¿No tienes una cuenta?<a href="pages-sign-up.html"> Regístrate</a></span></div> -->
      </div>
    </div>
</div>