<div class="page-head">
  <h2 class="page-head-title">Cambiar Contraseña</h2>
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb page-head-nav">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Usuarios</a></li>
      <li class="breadcrumb-item"><a href="#">Listado de Usuarios</a></li>
      <li class="breadcrumb-item active">Cambiar Contraseña</li>
    </ol>
  </nav>
</div>
<div class="main-content container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Datos de Usuario<span class="card-subtitle">Nuevo usuario de sistema</span></div>
        <div class="card-body ">
          <form [formGroup]="registerForm"  (ngSubmit)="actualizar()" >
            <div class="input-div">
              <label class="col-12 col-sm-3 col-form-label text-sm-right" for="username">Usuario</label>
              <mat-form-field  class="input-form-field col-12 col-sm-8 col-lg-6">
                <input matInput disabled minlength="5" maxlength="10" required [(ngModel)]="model.username"  formControlName="username" placeholder="Username para el login"  name="username" type="text">
              </mat-form-field>
              <!-- <div class="alert alert-danger" *ngIf="username.errors  "> 
                  <div *ngIf="username.errors.minlength">
                  Usuario debe tener mas de 5 caracteres.
            </div>
               </div>	 -->
            </div>
            <div class="input-div">
              <label class="col-12 col-sm-3 col-form-label text-sm-right" for="password">Password</label>
              <mat-form-field class="input-form-field col-12 col-sm-8 col-lg-6">
                <input matInput  minlength="5" maxlength="20" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  required [(ngModel)]="model.password"  formControlName="password" name="password" placeholder="Contraseña de ingreso" type="password">
              </mat-form-field>
              
            </div>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
            <div class="input-div">
              <label class="col-12 col-sm-3 col-form-label text-sm-right" for="confirmPassword">Confirmar Password</label>
              <mat-form-field class="input-form-field col-12 col-sm-8 col-lg-6">
                <input matInput  minlength="5" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" maxlength="20"  required [(ngModel)]="model.confirmPassword" formControlName="confirmPassword"   name="confirmPassword" placeholder="Contraseña de ingreso" type="password">
              </mat-form-field>
            </div>
            
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
           </div>

                
       
                <div class="row pt-2 pt-sm-5 mt-1">
                    <div class="col-sm-6 pl-0">
                      <p class="text-right">
                        <button   class="btn btn-space btn-primary" type="submit">Guardar</button>
                        <button  (click)="cancel()" class="btn btn-space btn-secondary">Cancel</button>
                      </p>
                    </div>
                  </div>
     
           
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>



