
    <div class="modal-header modal-header-colored">
      <h3 class="modal-title" aria-level="2">Asignar Responsable</h3>
      
    </div>
 <div class="card card-border-color card-border-color-primary">


  <div class="card-body">
      
      <div  class="mat-elevation-z8">
          <mat-table #table [dataSource] = "listData" matSort >
             <!-- Checkbox Column -->
             <ng-container matColumnDef="userName">
                <mat-header-cell *matHeaderCellDef mat-sort-header >  Usuario </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
              </ng-container>


             <ng-container matColumnDef="nombreCompleto">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo</mat-header-cell>
              <mat-cell  *matCellDef="let orden" > 
                    <span class="label label-info pull-xs-center">{{orden.nombreCompleto}}</span>
              </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="dni">
              <mat-header-cell *matHeaderCellDef mat-sort-header> DNI</mat-header-cell>
              <mat-cell  *matCellDef="let orden" > 
                    <span class="label label-info pull-xs-center">{{orden.dni}}</span>
              </mat-cell>
            </ng-container>
      
      
        
         
        <ng-container matColumnDef="actionsColumn">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button  class="btn btn-space btn-outline-primary" ngbTooltip="Asignar Puerta" (click)="asignar(row.id)" type="button"><i class="fas fa-check"></i></button>
            </mat-cell>
        </ng-container>
       
        
          <mat-header-row *matHeaderRowDef="displayedColumns; " ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" >
          </mat-row>
          </mat-table>


         <mat-paginator [pageSizeOptions]="[ 10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>

        </div>
      
  </div>
 
