
<div class="page-head">
  <h2 class="page-head-title">Mantenimiento de Usuarios del Sistema</h2>
  <!-- <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb page-head-nav">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Listado de Usuarios</li>
    </ol>
  </nav> -->
</div>

<div class="main-content container-fluid">
<div class="col-md-12">


  <div class="card card-border-color card-border-color-primary">
    <div class="card-header card-header-divider">
        
     <div class="row">
          <b> Usuarios del WMS  |  </b>  <span class="card-subtitle">   Usuarios registrados en el sistema</span>
        </div>
      </div>
          <div class="search-div">
              <div class="input-container">
              <i class="fa fa-search"></i>
              <mat-form-field class="search-form-field" >
                
              </mat-form-field>
              </div>
          </div>
   
    
 
    <div class="card-body">
        <div  class="mat-elevation-z8">

          </div>
    </div>
  </div>
</div>
</div>


