
 
    <div class="modal-header modal-header-colored">
        <h3 class="modal-title" aria-level="2">Buscar Producto</h3>
        
      </div>
    

<div class="modal-body">
    
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-6">Búsqueda :</label>
                <div class="input-group mb-3">
                    <input class="form-control" [(ngModel)]="model.codigo" placeholder="Código / Descripción" type="text">
                    <div class="input-group-append">
                      <button class="btn btn-primary" (click)="buscar()" type="button"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
            </div>
        </div>
    
        <div class="card-body">
            <div  class="mat-elevation-z8">
                <mat-table #table [dataSource] = "listData" matSort >
              
                    <ng-container matColumnDef="Codigo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header > Código </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{user.codigo}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="DescripcionLarga">
                          <mat-header-cell *matHeaderCellDef mat-sort-header > Descripcion Larga </mat-header-cell>
                          <mat-cell *matCellDef="let user"> {{user.descripcionLarga}} </mat-cell>
                      </ng-container>
              
                      <!-- [style.color]="'#ff0000'" -->
              
                    <ng-container matColumnDef="NumOrden">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> N° Orden de Recibo   </mat-header-cell>
                      <mat-cell  *matCellDef="let orden" > 
                          <!-- <button class="btn btn-space btn-outline-primary" (click)="ver(orden.ordenReciboId)"  type="button">
                            <i class="mdi mdi-search"></i>
                          </button> -->
                      OR{{orden.numOrden}}  
                      </mat-cell>
                    </ng-container>
              
                    
                      <ng-container matColumnDef="actionsColumn">
                          <mat-header-cell *matHeaderCellDef>
                              <!-- <div class="example-button-row">
                              <button mat-fab color="primary"  routerLink="/nuevaordenrecibo"> <i aria-hidden="true" class="fa fa-plus fa-1x"></i></button>
                              </div> -->
                              <!-- <button class="btn btn-space btn-primary" routerLink="/nuevousuario">Nuevo Usuario</button> -->
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                              <button class="btn  btn-outline-primary" [mat-dialog-close]="row.id" (click)="seleccionarProducto(row.id)" type="button"><i class="fa fa-check"></i></button>
               
                          </mat-cell>
                      </ng-container>
             
              
                <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" 
                >
    
                </mat-row>
                
                </mat-table>
               <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
              </div>
         </div>
<div class="modal-footer">

</div>

