
<div class="page-head">
    <h2 class="page-head-title">Ajustes de Inventario</h2>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"><a href="#">Listado de Inventario</a></li>
        <!-- <li class="breadcrumb-item">Listado de Órdenes de Recibo</li>
        <li class="breadcrumb-item active">Identificar Pallets</li> -->
      </ol>
    </nav>
  </div>
  
  <div class="main-content container-fluid">
      <div class="col-md-12">
      <div class="card card-border-color card-border-color-primary">
          <div class="card-header">
                    <b> Filtro de búsqueda  </b>  
              </div>
          <div class="card-body">
              <div class="row">
            
                  <div class="col-md-3">
                      <label class="col-form-label text-sm-right" for="username">Propietario:</label>
                      
                      <mat-form-field class="input-form-field  col-sm-8 ">
                          <mat-select [formControl]="ClientesCtrl" (selectionChange)="CambioCliente($event.value)" [(value)]="model.ClienteId" >
                           <mat-option>
                               
                            </mat-option>
                            <mat-option  *ngFor="let pow of filteredClientes  | async"  [value]="pow.val">
                                {{pow.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="col-md-3">
                      <label class="col-form-label text-sm-right" for="username">Producto:</label>
                      
                      <mat-form-field class="input-form-field  col-sm-8 ">
                          <mat-select [formControl]="ProductosCtrl"  [(value)]="model.ProductoId" >
                           <mat-option>
                               
                            </mat-option>
                            <mat-option  *ngFor="let pow of filteredProductos  | async"  [value]="pow.val">
                                {{pow.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        
                    </div>
                   
                      <div class="col-md-3">
                          <label class="control-label" for="username">Estado:</label>
                          <mat-form-field class="input-form-field  col-sm-8 ">
                              <mat-select  [(value)]="model.estadoIdfiltro" >
                                <mat-option  *ngFor="let pow of estadoInventario"  [value]="pow.val">
                                    {{pow.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>
    
                  <div class="col-md-3">
                      
                        <button class="btn btn-block btn-primary"  (click)="buscar()"  type="button">Buscar</button>
                      
                  </div>
               
                </div>
          </div>
      </div>
  
    </div>
  <div class="col-md-12">
  
  
    <div class="card card-border-color card-border-color-primary">
      <div class="card-header">
          
        <div  [hidden]="!checkSelects()">
              <b> Almacén   </b>  <span class="card-subtitle">  Inventario de Sistema</span>
            </div>
            <div  [hidden]="checkSelects()" >
                <b> Órdenes seleccionadas  :  {{selection.selected.length}} </b> 
            </div>
        </div>
       
      <div class="row">
          <div class="col-md-1">
              <button class="btn-buttons btn-outline-primary"  > <i   class="fa-2x  fas fa-ellipsis-v"></i></button> 
          </div>
          <div [hidden]="checkSelects()" class="col-md-7">
              <!-- <button class="btn-buttons btn-outline-primary" ngbTooltip="Vincular Equipo Transporte"  (click)="equipotransporte()"  type="button"><i class="fa-2x fas fa-truck"></i></button>   -->
              <div class="btn-group btn-space">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Acciones </button>
                <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 30px, 0px);">
                  <a class="dropdown-item" [swal]="mergeSwal"  (confirm)="merge()" href="#">Merge</a>
                  <a class="dropdown-item" href="#">Ajuste</a>
                  <a class="dropdown-item" href="#">Eliminar</a>
                  <!-- <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a> -->
                </div>
              </div>
              
          </div>
          <div [hidden]="!checkSelects()" class="col-md-7">
          </div>
          <div  class="col-md-4" >
              <div class="input-container">
                  <i class="fa fa-search"></i>
                  <mat-form-field class="search-form-field" >
                    <input matInput [(ngModel)]="searchKey" placeholder="Filtrar..." autocomplete="off" (keyup)="applyFilter()">
                  </mat-form-field>
                  </div>
            </div>
      </div>
  
   
      <div class="card-body">
          
          <div  class="example-container mat-elevation-z8">
              <mat-table #table [dataSource] = "listData" matSort >
  
  
                  <ng-container matColumnDef="select">
                      <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                                      [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)"
                                      [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                      </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="lodNum">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> LodNum</mat-header-cell>
                      <mat-cell  *matCellDef="let inventario" > 
                        <span class="label label-info pull-xs-center">{{inventario.lodNum}}</span>
                      </mat-cell>
                  </ng-container>
          
            
                  <ng-container matColumnDef="descripcionLarga" >
                      <mat-header-cell *matHeaderCellDef mat-sort-header >  Producto </mat-header-cell>
                      <mat-cell *matCellDef="let inventario"> {{inventario.descripcionLarga}} </mat-cell>
                  </ng-container>
            
                    
                    <!-- <ng-container matColumnDef="lotNum" >
                      <mat-header-cell *matHeaderCellDef mat-sort-header> N° Lote</mat-header-cell>
                      <mat-cell  *matCellDef="let inventario" > 
                            <span class="label label-info pull-xs-center">{{inventario.lotNum}}</span>
                      </mat-cell>
                    </ng-container> -->

                    
                           
                  <ng-container matColumnDef="area" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header >  Área </mat-header-cell>
                    <mat-cell *matCellDef="let inventario"> {{inventario.area}} </mat-cell>
                 </ng-container>
                 
                  <ng-container matColumnDef="ubicacion" >
                        <mat-header-cell *matHeaderCellDef mat-sort-header >  Ubicación </mat-header-cell>
                        <mat-cell *matCellDef="let inventario"> {{inventario.ubicacion}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="ubicacionProxima" >
                      <mat-header-cell *matHeaderCellDef mat-sort-header >  Mover a </mat-header-cell>
                      <mat-cell *matCellDef="let inventario"> {{inventario.ubicacionProxima}} </mat-cell>
                </ng-container>

  
                    <!-- <ng-container matColumnDef="fechaExpire">
                        <mat-header-cell *matHeaderCellDef mat-sort-header >  Fecha Expiración </mat-header-cell>
                        <mat-cell *matCellDef="let inventario"> 
                          {{inventario.fechaExpire | date:'dd-MM-yyyy' }} 
                      </mat-cell>
                    </ng-container>
   -->
  
                      <ng-container matColumnDef="untQty">
                        <mat-header-cell *matHeaderCellDef mat-sort-header >  Cantidad </mat-header-cell>
                        <mat-cell *matCellDef="let inventario"> {{inventario.untQty}} </mat-cell>
                      </ng-container>
  
<!--   
                      <ng-container matColumnDef="fechaEsperada">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Esperada</mat-header-cell>
                          <mat-cell *matCellDef="let user"> 
                              {{user.fechaEsperada | date:'dd-MM-yyyy' }} 
                          </mat-cell>
                        </ng-container> -->
             
          
  
                        <!-- <ng-container matColumnDef="fechaRegistro">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Registro</mat-header-cell>
                            <mat-cell *matCellDef="let user"> 
                                {{user.fechaRegistro | date:'dd-MM-yyyy' }} 
                            </mat-cell>
                          </ng-container> -->

                          <ng-container matColumnDef="codigoHuella">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Código Huella</mat-header-cell>
                            <mat-cell *matCellDef="let user"> 
                                {{user.codigoHuella }} 
                            </mat-cell>
                          </ng-container>
  
  
             
                    <ng-container matColumnDef="actionsColumn">
                        <mat-header-cell *matHeaderCellDef>
                             <!-- <button mat-fab ngbTooltip="Nueva Orden de Recibo" color="primary"  routerLink="/recibo/nuevaordenrecibo"> <i aria-hidden="true" class="fa fa-plus fa-1x"></i></button>  -->
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <!-- <button   class="btn btn-space btn-outline-primary" ngbTooltip="Editar Orden" (click)="edit(row.id)" type="button"><i class="fas fa-edit"></i></button> -->
                            <button  class="btn btn-space btn-outline-primary" ngbTooltip="Asignar Ubicación" (click)="identificar(row.id)" type="button"><i class="fas fa-check"></i></button> 
          
                            <!-- <button [swal]="deleteSwal" (confirm)="delete(row.ordenReciboId)"  [disabled]="row.nombreEstado != 'Planeado'"  class="btn btn-space btn-outline-primary" ngbTooltip="Eliminar Orden" type="button"><i class="fas fa-trash"></i></button> -->
                            <button  class="btn btn-space btn-outline-primary" (click)="ver(row.id)" type="button"><i class="fas fa-search"></i></button>
                          </mat-cell>
                    </ng-container>
           
            
              <mat-header-row *matHeaderRowDef="displayedColumns; " ></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"> 
  
              </mat-row>
            
            
              </mat-table>
  
  
             <mat-paginator [pageSizeOptions]="[ 60, 120, 180, 240]" [pageSize]="60" showFirstLastButtons></mat-paginator>
  
            </div>
          
      </div>
     
    </div>
  </div>
  <div class="col-md-12">
      <div class="card card-border-color card-border-color-primary">
          <div class="card-header card-header-divider">Acomodo<span class="card-subtitle">Selecciona una ubicación para el pallet</span></div>
            <div class="card-body">


                <div class="input-div">
                  <label class="col-12 col-sm-3 col-form-label text-sm-right" for="propietario">LPN</label>
                  <mat-form-field class="input-form-field col-12 col-sm-8 col-lg-6">
                    <input matInput readonly   autocomplete="off" [(ngModel)]="modeldetail.lodNum" name="linea" type="text">
                    <input  autocomplete="off" [(ngModel)]="modeldetail.id" name="linea" type="hidden">
                  </mat-form-field>
                </div>

 
                <div class="input-div">
                    <label class="col-12 col-sm-3 col-form-label text-sm-right" for="username">Área</label>
                    <mat-form-field class="input-form-field col-12 col-sm-8 col-lg-6">
                        <mat-select required  [(value)]="model.areaId" (selectionChange)="onChange($event)" placeholder="Selección">
                          <mat-option  *ngFor="let pow of areas"  [value]="pow.val">
                              {{pow.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                <div  class="mat-elevation-z8">
                    <mat-table #table [dataSource] = "listUbicaciones" matSort >
                       <!-- Checkbox Column -->
                       <ng-container matColumnDef="ubicacion">
                          <mat-header-cell *matHeaderCellDef mat-sort-header >  Ubicación </mat-header-cell>
                          <mat-cell *matCellDef="let user"> {{user.ubicacion}} </mat-cell>
                        </ng-container>
         
         
                       <ng-container matColumnDef="almacen">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Almacén</mat-header-cell>
                        <mat-cell  *matCellDef="let orden" > 
                            <!-- <button class="btn btn-space btn-outline-primary" (click)="ver(orden.ordenReciboId)"  type="button"> -->
                              <!-- <i class="mdi mdi-search"></i> -->
                              <!-- <a class="router-link"  (click)="ver(orden.ordenReciboId)"> OR{{orden.numOrden}}  </a> -->
                              <span class="label label-info pull-xs-center">{{orden.almacen}}</span>
                            <!-- </button> -->
                    
                        </mat-cell>
                      </ng-container>
                
                  
                        <ng-container matColumnDef="area">
                            <mat-header-cell *matHeaderCellDef mat-sort-header >  Área </mat-header-cell>
                            <mat-cell *matCellDef="let user"> {{user.area}} </mat-cell>
                          </ng-container>
                  
                          <!-- [style.color]="'#ff0000'" -->
                  
                          
                          <ng-container matColumnDef="sugerido">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> Sugerido  </mat-header-cell>
                                  <mat-cell *matCellDef="let user"> 
              
                                <div *ngIf="user.estado == 'Lleno' then thenBlock else elseBlock"></div>
                                <ng-template #thenBlock>  <div  [style.color]="'#FFFFFF'" [style.background-color]="'#0c9811'">Sugerido     </div>     </ng-template>
                                <ng-template #elseBlock>    <div  [style.color]="'#FFFFFF'" [style.background-color]="'#0c9811'">Sugerido     </div>   </ng-template>  
                                  </mat-cell>
                            </ng-container>
                        
                            <ng-container matColumnDef="estado">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado  </mat-header-cell>
                                <mat-cell *matCellDef="let user"> 
            
                              <div *ngIf="user.estado == 'Lleno' then thenBlock else elseBlock"></div>
                              <ng-template #thenBlock>  <div  [style.color]="'#FFFFFF'" [style.background-color]="'#0c9811'">{{user.estado}}     </div>     </ng-template>
                              <ng-template #elseBlock>   <div>{{user.estado}}     </div>   </ng-template>  
                                </mat-cell>
                          </ng-container>
         
         
                    
         
                   
                          <ng-container matColumnDef="actionsColumn">
                              <mat-header-cell *matHeaderCellDef>
                                  <!-- <div class="example-button-row">
                                      <button mat-fab ngbTooltip="Nueva Orden de Recibo" color="primary"  routerLink="/nuevaordenrecibo"> <i aria-hidden="true" class="fa fa-plus fa-1x"></i></button>
                                  </div>
                        -->
                                 
                                 
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row">
                                 <div *ngIf="row.estado == 'Libre' || row.estado  ==  'Parcial' then thenBlock else elseBlock"></div>
                                 <ng-template #thenBlock>  <button  class="btn btn-space btn-outline-primary" ngbTooltip="Asignar Ubicación" (click)="asignarUbicacion(row.id)" type="button"><i class="fas fa-check"></i></button>     </ng-template>
                                 <ng-template #elseBlock>   <div>    </div>   </ng-template>  
                                  
                              </mat-cell>
                          </ng-container>
                 
                  
                    <mat-header-row *matHeaderRowDef="displayedColumns2; " ></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns2;" >
              
         
                    </mat-row>
                  
                  
                    </mat-table>
         
         
                   <mat-paginator [pageSizeOptions]="[ 10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
         
                  </div>
                
            </div>

    </div>
</div> 
  </div>
  
  <swal
    #deleteSwal
    title="Eliminar la Orden"
    text="¿Esta seguro que desea eliminar la orden?"
    type="question"
    showCancelButton= true 

  >
  </swal>

  <swal
  #mergeSwal
  title="Merge Inventario"
  text="¿Esta seguro que desea realizar el merge de los pallets seleccioandos?"
  type="question"

  >

</swal>
  
 