


<div class="page-head">
  <h2 class="page-head-title">Equipos de Transporte</h2>
 <nav aria-label="breadcrumb" role="navigation">
   <ol class="breadcrumb page-head-nav">
    <ol class="breadcrumb page-head-nav">
      <li class="breadcrumb-item"> Recibo</li>
      <li class="breadcrumb-item" [routerLink]="['/recibo/equipotransporteentrante']" routerLinkActive="router-link-active" >Equipos de Transporte </li>
      <li class="breadcrumb-item" [routerLink]="['/recibo/listaordenrecibida', this.EquipoTransporteId]" routerLinkActive="router-link-active" >Ordenes de Recibo por Equipo</li>
      <li class="breadcrumb-item active">identificación</li>
      
    </ol>
   </ol>
 </nav>
</div>

    <div class="main-content container-fluid">
      
    <div class="row">
      <div  class="col-md-12">
        <div class="card card-border-color card-border-color-primary">
          <div class="card-header card-header-divider">Líneas Orden de Recibo<span class="card-subtitle">Líneas de la Orden de Recibo</span>
          </div>
          <div class="card-body ">
            <div class="row ">
              <div class="col-md-12">
                <p-toolbar>
                  <div class="ui-toolbar-group-right">
                      <button  pButton type="button" label="Terminar"  [swal]='TerminarSwal'  (confirm)="terminar()"  icon="pi pi-check" iconPos="left"></button>
                  </div>
                </p-toolbar>
              </div>
          </div>
              <div  class="mat-elevation-z8">
                <p-table [style]="{width:'100%'}" 
                [scrollable]="true" [columns]="cols" [value]="ordenes"
                [(selection)]="selectedRow"  #dt [paginator]="true"  
                (onRowSelect)="identificar($event)" 
                [rows]="40" [resizableColumns]="true" selectionMode="single" [responsive]="true"  >

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                      <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
                  </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                          {{col.header}}
                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                      </th>
                  </tr>
                </ng-template>  
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr  [pSelectableRow]="rowData">
                      <td class="ui-resizable-column"> {{rowData.linea  }}</td>
                      <td class="ui-resizable-column"> {{rowData.codigo}} </td>
                      <td class="ui-resizable-column"> {{rowData.producto  }} </td>
                      <td class="ui-resizable-column"> {{rowData.cantidad  }}  </td>
                      <td class="ui-resizable-column"> 
                          <span  *ngIf="rowData.cantidad == rowData.cantidadRecibida"> <i class="fa fa-check " ></i>  </span>
                          <span *ngIf="rowData.cantidad != rowData.cantidadRecibida"> {{ rowData.cantidad - rowData.cantidadRecibida }}  </span>
                       </td>
                      <td [ngClass]="rowData.cantidad == rowData.cantidadRecibida ? 'old-car' :  (rowData.cantidad != rowData.cantidadRecibida?'very-old-car': null) " class="ui-resizable-column">   
                        <span  *ngIf="rowData.cantidad == rowData.cantidadRecibida"> Completo  </span>
                        <span *ngIf="rowData.cantidad != rowData.cantidadRecibida"> Pendiente </span> 
                      </td>
                  </tr>
                  </ng-template>
                </p-table>
              </div>
          </div>
        </div>
      </div>
    
        <div #pnl  class="col-md-6">
          <div class="card card-border-color card-border-color-primary">
            <div #dis class="card-body disabled">
              <div class="ui-g ui-fluid">
                    <form #f="ngForm"  (ngSubmit)="actualizar(f)" >
                      <div class="timeline-avatar"><img class="circle" src="assets/img/Product_icon.png" alt="Avatar"></div>
                      <div class="timeline-header"><span class="timeline-autor"> {{ modeldetail.producto }}  </span>
                        <p class="timeline-activity"> <a href="#">{{ modeldetail.familia }}</a>.</p><span class="timeline-time">SKU -  {{ modeldetail.codigo }}</span>
                      </div>
                      <div class="row">
                            <div class="col-md-6">
                                  <label for="LotNum">Lote</label>
                                  <input pInputText  (blur)="onBlurMethod($event.target.value)"   autocomplete="off" [(ngModel)]="modeldetail.LotNum" class="form-control col-md-12"  name="LotNum" type="text">
                            </div>
                            <div class="col-md-6">
                                      <label  for="fechaManufactura">Fecha de Manufactura</label>
                                      <p-calendar  type="datetime" baseZIndex=100 class="input-form-field col-md-3" autocomplete="off" [(ngModel)]="modeldetail.fechaManufactura" name="fechaManufactura"  [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                      </div>

                      <div class="row">
                          <div class="col-md-6">
                                <label  for="fechaExpire">Fecha de Expiración</label>
                                <p-calendar  type="datetime" baseZIndex=100 class="input-form-field col-md-3" autocomplete="off" [(ngModel)]="modeldetail.fechaExpire" name="fechaExpire"  [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
                          </div>
                          <div class="col-md-6">
                              <label  for="estadoId">Estado</label>
                              <p-dropdown name="estados" [options]="estados"  required [(ngModel)]="modeldetail.estadoId" 
                              scrollHeight="40vh" class="input-form-field  col-sm-5"    [style]="{'width':'100%'}"    
                              [hideTransitionOptions]="'0ms'"
                              [showTransitionOptions]="'0ms'" 
                              placeholder="seleccione un estado"  
                              >
                                  <ng-template let-item pTemplate="selectedItem">
                                      <span style="vertical-align:middle;">{{item.label}}</span>
                                  </ng-template>
                              </p-dropdown>
                          </div>
                      </div>
                        <div class="row">
                          <div class="col-md-6">
                            <label  for="huellaid">Huella</label>                  
                            <p-dropdown [options]="huellas" name="huellas" required  [(ngModel)]="modeldetail.huellaId" 
                            scrollHeight="40vh" class="input-form-field  col-sm-5" (onChange)="onChangeHuella($event)"    [style]="{'width':'100%'}"    
                            [hideTransitionOptions]="'0ms'"
                            [showTransitionOptions]="'0ms'" 
                            placeholder="seleccione una huella"  
                            >
                                <ng-template let-item pTemplate="selectedItem">
                                    <span style="vertical-align:middle;">{{item.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                            <div class="col-md-6">
                                <label for="cantidad">Peso </label>
                                  <input pInputText type="text" class="form-control col-md-12" appTwoDigitDecimaNumber maxlength="10" [(ngModel)]="modeldetail.peso"  #cantidad="ngModel"  name="cantidad" >
                              </div>
                          </div>
                          <div class="row">
                                <div class="col-md-6">
                                    <label  for="untQty">Cantidad Recibida</label>
                                      <input pInputText required type="text" class="form-control col-md-12"  (keypress)="numberOnly($event)" maxlength="6"  [(ngModel)]="modeldetail.untQty"  #untQty="ngModel"  name="untQty" >
                                </div>
                                <div class="col-md-6">
                                  <label  for="untQty">Referencia</label>
                                    <input pInputText  type="text" class="form-control col-md-12"   maxlength="20"  [(ngModel)]="modeldetail.referencia"  #referencia="ngModel"  name="referencia" >
                              </div>
                          </div>
                          <div class="row pt-2 pt-sm-5 mt-1">
                              <div class="col-sm-6 pl-0">
                                <p class="text-right">
                                
                                  <button [disabled]="!f.valid" [swal]='deleteSwal'  (confirm)="generarPallets()" class="btn btn-space btn-primary" type="button">Generar Pallets</button>
                                </p>
                              </div>
                              <div class="col-sm-6 pl-0">
                              <button  [disabled]="!f.valid" class="btn btn-space btn-warning" type="submit">Es parte de una Pallet</button>
                            </div>
                          </div>
                    </form>
              </div>
            </div>
          </div>
        </div> 

        <div  class="col-md-6">
          <div class="card-full-success">
            <div class="card-header card-header-divider">Pallet -  Detalle del pallet </div>
            <div class="card-body ">
                <div  class="mat-elevation-z8">
  
                  <p-table [style]="{width:'100%'}" 
                  [scrollable]="true" [columns]="cols2" [value]="AddInventario"
                   #dt [paginator]="true"  
                  [rows]="40" [resizableColumns]="true"  [responsive]="true"  >
  
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
                    </colgroup>
                  </ng-template>
  
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        </th>
                    </tr>
                  </ng-template>  
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr  [pSelectableRow]="rowData">
                        <td class="ui-resizable-column">  
                          <div class="ui-inputgroup">
                            <button  class="ui-button-secondary" ngbTooltip="Eliminar Orden"  (click)="delete(rowData.id)"   type="button"><i class="fa fa-trash"></i></button>
                          </div>
                         </td> 
                        
                        
                        <td class="ui-resizable-column"> {{rowData.codigo}} </td>
                        <td class="ui-resizable-column"> {{rowData.descripcionLarga  }} </td>
                        <td class="ui-resizable-column"> {{rowData.untQty  }}  </td>
                        <td class="ui-resizable-column"> {{rowData.estado  }}  </td>
                    </tr>
                    </ng-template>
                  </p-table>
                </div>
                <div class="row pt-2 pt-sm-5 mt-1">
                  <div class="col-sm-6 pl-0">
                    <p class="text-right">
                      <button  class="btn btn-space btn-primary" (click)="generarPallet()" type="button">Generar Pallet</button>
                      <!-- <button class="btn btn-space btn-primary" (click)="terminar()">Terminar</button> -->
                      <!-- <button (click)="regresar()" class="btn btn-space btn-secondary">Regresar</button> -->
                    </p>
                  </div>
                </div>
            </div>
          </div>
        </div>
  
      </div>
   
    </div>
  <div class="row">
   
    <div  class="col-md-12">
        <div class="card card-border-color card-border-color-primary">
          <div class="card-header card-header-divider">Inventario<span class="card-subtitle">Inventario Registrado</span></div>
          <div class="card-body ">
              <div  class="mat-elevation-z8">
                <p-table [style]="{width:'100%'}" 
                [scrollable]="true" [columns]="cols3" [value]="Inventario"
                [(selection)]="selectedRow"  #dt1 [paginator]="true"  
                
                [rows]="10" [resizableColumns]="true" selectionMode="single" [responsive]="true"  >

                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                      <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
                  </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                          {{col.header}}
                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                      </th>
                  </tr>
                </ng-template>  
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr  [pSelectableRow]="rowData">
                    <td  *ngIf="rowData.seriado" class="ui-resizable-column">  
                        <button class="btn btn-mini btn-primary"   ngbTooltip="Registrar Detalle"  (click)="registrarDetalle(rowData.id)"   type="button"><i class="fa fa-barcode"></i></button>
                    </td> 
                    <td  *ngIf="!rowData.seriado" class="ui-resizable-column">  
                      
                  </td> 
                    
                      <td class="ui-resizable-column"> {{rowData.lodNum  }}</td>
                      <td class="ui-resizable-column"> {{rowData.descripcionLarga}} </td>
                      <td class="ui-resizable-column"> {{rowData.ubicacion  }} </td>
                      <td class="ui-resizable-column"> {{rowData.untQty  }}  </td>
                      <td class="ui-resizable-column"> {{ rowData.seriado === true? "Si" : "No"   }}  </td>
                      <td class="ui-resizable-column"> {{rowData.scanQty }}  </td>
                      <!-- <td class="ui-resizable-column"> {{rowData.almacen }}  </td> -->
                      
                  </tr>
                  </ng-template>
                </p-table>
              </div>
          </div>
        </div>
    </div>
    <div  class="col-md-12">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Seriado<span class="card-subtitle">Seriado </span></div>
        <div class="card-body ">
          <div class="p-grid ui-fluid">
            
            <div class="p-col-12 p-md-4">
              <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="pi pi-ticket" style="line-height: 1.25;"></i></span>
                  <input name="productserie"  class="text-light bg-dark"  #productserie (focusout)="RegisterProduct()" [(ngModel)]="model.productserie" type="text" pInputText placeholder="ProductID">         
              </div>
          </div>
          
          <div class="p-col-12 p-md-4">
              <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="pi pi-bars" style="line-height: 1.25;"></i></span>
                  <input type="text" name='macserie' class="text-light bg-dark"   #macserie (focusout)="RegisterMac()" type="text"  [(ngModel)]="model.macserie" pInputText placeholder="MAC">   
              </div>
          </div>

          <div class="p-col-12 p-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-bars" style="line-height: 1.25;"></i></span>
                <input type="text" name='serie' class="text-light bg-dark" (focusout)="RegisterSerie()"   [(ngModel)]="model.serie"  pInputText placeholder="SERIE">   
            </div>
        </div>

            <div  class="mat-elevation-z8">
              <p-table [style]="{width:'100%'}" 
              [scrollable]="true" [columns]="cols4" [value]="InventarioDetalles"
              [(selection)]="selectedRow"  #dt1 [paginator]="true"  
              
              [rows]="40" [resizableColumns]="true" selectionMode="single" [responsive]="true"  >

              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
                </colgroup>
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                    <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
              </ng-template>  
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr  [pSelectableRow]="rowData">
                    <td class="ui-resizable-column">  
                      <button  class="btn btn-mini btn-danger" ngbTooltip="Registrar Detalle"  (click)="eliminarDetalle(rowData.id)"   type="button"><i class="fa fa-trash"></i></button>
                   </td> 
                  
                    <td class="ui-resizable-column"> {{rowData.codigoProducto  }}</td>
                    <td class="ui-resizable-column"> {{rowData.codigoMac}} </td>
                    <td class="ui-resizable-column"> {{rowData.codigoSerie  }} </td>
                  
                    
                </tr>
                </ng-template>
              </p-table>
            </div>
        </div>
      </div>
    </div>
  </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '1px' }" ></ngx-loading>

     <swal
      #deleteSwal
      title="Generar la línea"
      text="¿Esta seguro que desea generar la línea?"
      type="question"
      showCancelButton= true

      >
    </swal>

    <swal
    #TerminarSwal
    title="Terminar Identificación"
    text="¿Esta seguro que desea terminar?"
    type="question"
    showCancelButton= true

    >
  </swal>

    <p-sidebar [(visible)]="visibleSidebar4" position="bottom" [baseZIndex]="10000">
      <h1 style="font-weight:normal">Debe terminar con la identificación de la OR</h1>
      <button pButton type="button" (click)="visibleSidebar4 = false" label="OK" class="ui-button-success"></button>
    </p-sidebar>
  
