

.disabled
{
  pointer-events: none;
  opacity: 0.7;
}

.ui-g li{
  list-style-type: none;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #c8c8c8;
  background-color: #e0e1ff
}

/* .active {
  background-color: #777799;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
} */
.inactive {
  background-color: #005ca5;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.box,
.sample-layout > div {
    background-color: #005ca5;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
}

.box-stretched {
    height: 100%;
}

.sample-layout {
    margin: 0;
}

.sample-layout > div {
    border: 1px solid #ffffff;
}

.vertical-container {
    margin: 0;
    height: 200px;
    background: #efefef;
    border-radius: 4px;
}

.nested-grid .p-col-4 {
    padding-bottom: 1em;
}

  .ui-datepicker {
    top: 129px !important;
    }
  

    th, td {
      text-align: left;
      font-size: 0.80em;
      height : 5px;
      /* font-family: "Quicksand", "Trebuchet MS", Arial, Helvetica, sans-serif; */
      
    }
    .old-car {
      background-color: #1CA979 !important;
      color: #ffffff !important;
  }
  
  .very-old-car {
      background-color: #f12a2a !important;
      color: #ffffff !important;
  }
    
  .wrapper-div {
    display: flex;
    align-items: center;
    }


    .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.highlight{
    background: rgb(224, 216, 238); /* green */
  }

  td.mat-cell ,
  th.mat-header-cell{
      border-bottom-width: 0px;
  }
.input-div{
    display: flex;
    
      }
      .input-form-field{
          width: 30%;
          /* margin-left: 10px; */
          padding: 1px 1px;
          border-radius: 1px;
          }
          .input-form-field div.mat-form-field-underline {
              display: none;
          }
          .input-form-field div.mat-form-field-infix{
              border-top: 5px;
          }
          .input-form-field div.mat-form-field-wrapper{
            padding-bottom: 5px;
        }
        .input-form-field div.mat-form-field-suffix button{
            height: 32px;
            width: 32px;
        }

       

        .ui-steps .ui-steps-item {
          width: 25%;
        }
        
        .ui-steps.steps-custom {
          margin-bottom: 30px;
        }
        
        .ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
          padding: 0 1em;
          overflow: visible;
        }
        
        .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
          background-color: #0081c2;
          color: #FFFFFF;
          display: inline-block;
          width: 36px;
          border-radius: 50%;
          margin-top: -14px;
          margin-bottom: 10px;
        }
        
        .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
          color: #555555;
        }
        
        .ui-toolbar {
          background-color : white !important;
          border: 0px !important;
        }
        :host ::ng-deep button {
          margin-right: .25em;
        }
        
        :host ::ng-deep .ui-splitbutton {
          margin-left: .25em;
        }
        
        :host ::ng-deep .ui-splitbutton button {
          margin-right: 0;
        }
        
          .ui-datepicker {
            top: 129px !important;
            }
          
          
     
        
            .old-car {
              background-color: #1CA979 !important;
              color: #ffffff !important;
          }
          
          .very-old-car {
              background-color: #f12a2a !important;
              color: #ffffff !important;
          }
            
          .wrapper-div {
            display: flex;
            align-items: center;
            }
        
        
            .example-button-row button,
        .example-button-row a {
          margin-right: 8px;
        }
        .highlight{
            background: rgb(224, 216, 238); /* green */
          }
        
          td.mat-cell ,
          th.mat-header-cell{
              border-bottom-width: 0px;
          }
        
          body .ui-inputgroup .ui-inputgroup-addon {
            border-color: #343a40;
            background-color: #343a40;
            color: #f8f9fa ;
            padding:0.429em;
            min-width:2em;
          }