<!-- 
    <div class="light-font">
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb primary-color">
        <li class="breadcrumb-item" [routerLink]="['/recibo/listaordenrecibo']" routerLinkActive="router-link-active" >Listado de órdenes</li>
        <li class="breadcrumb-item active">Detalle de la Orden de Recibo</li>
      </ol>
    </nav>
  </div> -->


  <div class="page-head">
    <h2 class="page-head-title">Órdenes de Recibo</h2>
   <nav aria-label="breadcrumb" role="navigation">
     <ol class="breadcrumb page-head-nav">
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"> Recibo</li>
        <li class="breadcrumb-item"  [routerLink]="['/recibo/listaordenrecibo']" routerLinkActive="router-link-active">Órdenes de Recibo </li>
        <li class="breadcrumb-item active">Ver Orden de Recibo</li>
        
        
      </ol>
     </ol>
   </nav>
 </div>

<div class="main-content container-fluid">
  <div  class="col-md-12">
    <div class="card card-border-color card-border-color-primary">
      <div class="card-header"> Detalles de la Orden<span class="card-subtitle"> Datos de detalle de la orden de recibo</span></div>
      <div class="row">
          <div class="offset-md-1 col-md-8">
           
          </div>
      </div>
      <div class="row">
          <div class="col-md-4"></div>
          <div class="offset-md-8 col-md-3">
              <button class="btn btn-block btn-button btn-primary"   (click)="regresar()"  type="button">  Regresar </button>  
          </div>
        </div>
      <div class="card-body ">
          <div  class="mat-elevation-z8">


              <mat-table #table [dataSource] = "listData" matSort >
                
                  
                  <ng-container matColumnDef="Linea">
                      <mat-header-cell *matHeaderCellDef mat-sort-header > Línea  </mat-header-cell>
                      <mat-cell *matCellDef="let orden"> {{orden.linea}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Codigo">
                      <mat-header-cell *matHeaderCellDef mat-sort-header > SKU  </mat-header-cell>
                      <mat-cell *matCellDef="let orden"> {{orden.codigo}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Descripcion">
                      <mat-header-cell *matHeaderCellDef mat-sort-header > Descripción  </mat-header-cell>
                      <mat-cell *matCellDef="let orden"> {{orden.producto}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Cantidad">
                      <mat-header-cell *matHeaderCellDef mat-sort-header > Cantidad  </mat-header-cell>
                      <mat-cell *matCellDef="let orden"> {{orden.cantidad}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Lote">
                      <mat-header-cell *matHeaderCellDef mat-sort-header > Lote  </mat-header-cell>
                      <mat-cell *matCellDef="let orden"> {{orden.lote}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="actionsColumn">
                        <mat-header-cell *matHeaderCellDef>
                            <div class="example-button-row">
                                <!-- routerLink="/nuevaordenrecibodetalle" -->
                            <!-- <button mat-fab color="primary" (click)="nuevodetalle()"  > <i aria-hidden="true" class="fa fa-plus fa-1x"></i></button> -->
                            </div>
                            <button class="btn btn-space btn-primary" (click)="nuevodetalle()">Nueva Línea</button>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button [swal]='deleteSwal' class="btn  btn-outline-primary" (confirm)="delete(row.id)" type="button"><i class="fa fa-trash"></i></button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" 
                         >
                    </mat-row>


                </mat-table>
              <mat-paginator [pageSizeOptions]="[ 10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
          </div>
            <!-- <div class="row pt-2 pt-sm-5 mt-1">
                <div class="col-sm-6 pl-0">
                  <p class="text-right">
                    
                    <button routerLink="/listaordenrecibo" class="btn btn-space btn-secondary">Regresar</button>
                  </p>
                </div>
              </div> -->
        
</div>
</div>

</div>

<swal
  #deleteSwal
  title="Eliminar la línea"
  text="¿Esta seguro que desea eliminar la línea?"
  type="question"

 
  >
</swal>