.row-item {
  margin-left: .3rem;
}
.fa-trash {
  margin-left: .3rem;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: violet;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: darkcyan !important;
}