<div class="page-head">
    <h2 class="page-head-title">Líneas de la Órden de Salida</h2>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"><a [routerLink]="['/recibo/listaordensalida']" routerLinkActive="router-link-active" >Ordenes de Recibo</a></li>
        <li class="breadcrumb-item active">Detalle de la Orden de Salida</li>

      </ol>
    </nav>
  </div>

<div class="main-content container-fluid">
  <div  class="col-md-12">
    <div class="card card-border-color card-border-color-danger">
      <div class="card-header card-header-divider">Orden de Salida N° {{model.numOrden}} </div>
      <div class="row">
          <div class="col-md-8">
              <button class="btn-buttons btn-primary"   (click)="regresar()"  type="button"> << Regresar a la Orden</button>
          </div>
        </div>
      <div class="card-body ">
          <div  class="mat-elevation-z8">


              <mat-table #table [dataSource] = "listData" matSort >


                  <ng-container matColumnDef="Linea">
                      <mat-header-cell *matHeaderCellDef mat-sort-header > Línea  </mat-header-cell>
                      <mat-cell *matCellDef="let orden"> {{orden.linea}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Codigo">
                      <mat-header-cell *matHeaderCellDef mat-sort-header > SKU  </mat-header-cell>
                      <mat-cell *matCellDef="let orden"> {{orden.codigo}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Descripcion">
                      <mat-header-cell *matHeaderCellDef mat-sort-header > Descripción  </mat-header-cell>
                      <mat-cell *matCellDef="let orden"> {{orden.producto}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Cantidad">
                      <mat-header-cell *matHeaderCellDef mat-sort-header > Cantidad  </mat-header-cell>
                      <mat-cell *matCellDef="let orden"> {{orden.cantidad}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Lote">
                      <mat-header-cell *matHeaderCellDef mat-sort-header > Lote  </mat-header-cell>
                      <mat-cell *matCellDef="let orden"> {{orden.lote}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="actionsColumn">
                        <mat-header-cell *matHeaderCellDef>
                            <div class="example-button-row">
                                <!-- routerLink="/nuevaordenrecibodetalle" -->
                            <!-- <button mat-fab color="primary" (click)="nuevodetalle()"  > <i aria-hidden="true" class="fa fa-plus fa-1x"></i></button> -->
                            </div>
                            <button class="btn btn-space btn-primary" (click)="nuevodetalle()">Nueva Línea</button>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button [swal]='deleteSwal' class="btn  btn-outline-primary" (confirm)="delete(row.id)" type="button"><i class="fa fa-trash"></i></button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" >
                    </mat-row>


                </mat-table>
              <mat-paginator [pageSizeOptions]="[ 10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
          </div>
    </div>
    </div>
    <div class="card card-border-color card-border-color-danger">
      <div class="card-header card-header-divider">Referencias </div>

      <div class="card-body ">
          <div  class="mat-elevation-z8">


            <div class="input-div">
              <label class="col-12 col-sm-3 col-form-label text-sm-right" for="cantidad">File Referencias (*)</label>
              <div class="form-group">
                <input type="file" #file name="image" (change)="fileProgress($event)" />
             </div>

             <div  *ngIf="div_visible" >
              <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
             </div>

                <div class="image-preview mb-3" *ngIf="previewUrl">
                  <img [src]="previewUrl" height="300" />
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-success btn-s"
                (click)="uploadFile(file.files)" >
                        <span class="fa fa-upload"></span> Subir
                        </button>
            </div>


            </div>
          </div>
    </div>
    </div>

</div>

<swal
  #deleteSwal
  title="Eliminar la línea"
  text="¿Esta seguro que desea eliminar la línea?"
  type="question"

  >
</swal>
