 
  .btn-gradient-scooter {
	background: #17ead9;
	background: -webkit-linear-gradient(45deg, #17ead9, #6078ea) !important;
	background: linear-gradient(45deg, #17ead9, #6078ea) !important;
	color: white;
	border: 0;
  }
  .gradient-scooter {
    background: #4facfe;
    background: -webkit-linear-gradient(45deg, #00f2fe 0%, #4facfe 100%) !important;
    background: linear-gradient(45deg, #00f2fe 0%, #4facfe 100%) !important;
    border: 0px solid rgba(255, 255, 255, 0.125);
  }
  .gradient-very-blue {
    background: #141e30;
    background: -webkit-linear-gradient(45deg, #2a93ff, #002cd2) !important;
    background: linear-gradient(45deg, #2a93ff, #002cd2) !important;
    border: 0px solid rgba(255, 255, 255, 0.125);
  }
  .gradient-violet {
    background: #4776e6;
    background: -webkit-linear-gradient(45deg, #4776e6, #8e54e9) !important;
    background: linear-gradient(45deg, #4776e6, #8e54e9) !important;
    border: 0px solid rgba(255, 255, 255, 0.125);
  }
  .gradient-ibiza {
    background: #ee0979;
    background: -webkit-linear-gradient(45deg, #ee0979, #ff6a00) !important;
    background: linear-gradient(45deg, #ee0979, #ff6a00) !important;
    border: 0px solid rgba(255, 255, 255, 0.125);
  }
  .gradient-orange {
    background: #fc4a1a;
    background: -webkit-linear-gradient(45deg, #fc4a1a, #f7b733) !important;
    background: linear-gradient(45deg, #fc4a1a, #f7b733) !important;
    border: 0px solid rgba(255, 255, 255, 0.125);
  }
  
  
.bg-gray {
    background-color: #555555 !important;
    color: #555555 !important; }

    .fw-normal {
        color: white;
        font-weight: 400; }

        .widget {
            background-color: #555555;
            padding: 20px;
            /* margin-bottom: 25px; */
            border-radius: 3px;
          }