.colored-header-primary .modal-content .modal-header{
    background-color: #5f99f5;
  }

  .mat-column-DescripcionLarga {
    flex: 0 0 405px;
    }

    .mat-column-Codigo {
      flex: 0 0 95px;
      }


      .input-div{
        display: flex;
        
          }
          .input-form-field{
              width: 30%;
              /* margin-left: 10px; */
              padding: 1px 1px;
              border-radius: 1px;
              }
              .input-form-field div.mat-form-field-underline {
                  display: none;
              }
              .input-form-field div.mat-form-field-infix{
                  border-top: 5px;
              }
              .input-form-field div.mat-form-field-wrapper{
                padding-bottom: 5px;
            }
            .input-form-field div.mat-form-field-suffix button{
                height: 32px;
                width: 32px;
            }