<div class="page-head">
    <h2 class="page-head-title">Mantenimiento de Roles del Sistema</h2>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Roles</a></li>
        <li class="breadcrumb-item"><a href="#">Listado de Roles</a></li>
        <li class="breadcrumb-item active">Nuevo Rol</li>
      </ol>
    </nav>
  </div>
  <div class="main-content container-fluid">
  
    <div class="row">
      <div class="col-md-12">
        <div class="card card-border-color card-border-color-primary">
          <div class="card-header card-header-divider">Datos de Rol<span class="card-subtitle">Nuevo rol de sistema</span></div>
          <div class="card-body ">
            <form #f="ngForm"  (ngSubmit)="registrar(f)" >
              <div class="input-div">
                <label class="col-12 col-sm-3 col-form-label text-sm-right" for="alias">Alias</label>
                <mat-form-field  class="input-form-field col-12 col-sm-8 col-lg-6">
                  <input matInput  minlength="5" maxlength="10" required [(ngModel)]="model.alias"  #alias="ngModel" placeholder="alias para el login"  name="username" type="text">
                </mat-form-field>
                <div class="alert alert-danger" *ngIf="alias.errors  "> 
                    <div *ngIf="alias.errors.minlength">
                    El álias debe tener mas de 5 caracteres.
              </div>
                 </div>	
              </div>
      
              <div class="input-div">
                <label class="col-12 col-sm-3 col-form-label text-sm-right" for="descripcion">Descripción</label>
                <mat-form-field class="input-form-field col-12 col-sm-8 col-lg-6">
                  <input matInput  minlength="5" maxlength="50"  required [(ngModel)]="model.descripcion" name="descripcion" #descripcion="ngModel" type="text" placeholder="Nombres y apellidos completos">
                </mat-form-field>
                <div class="alert alert-danger" *ngIf="descripcion.errors  "> 
                    <div *ngIf="descripcion.errors.minlength">
                    password debe tener menos de 5 caracteres.
              </div>
              </div>
            </div>
            <div class="input-div">
                <label class="col-12 col-sm-3 col-form-label text-sm-right" for="power">Tipo de Rol</label>
              <mat-form-field class="input-form-field col-12 col-sm-8 col-lg-6">
                  <mat-select  [(value)]="model.publico"  placeholder="Selección">
                    <mat-option *ngFor="let pow of tipos"  [value]="pow.val">
                        {{pow.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

            </div>
                  <div class="row pt-2 pt-sm-5 mt-1">
                      <div class="col-sm-6 pl-0">
                        <p class="text-right">
                          <button  [disabled]="!f.valid" class="btn btn-space btn-primary" type="submit">Guardar</button>
                          <!-- <button  (click)="cancel()" class="btn btn-space btn-secondary">Cancel</button> -->
                    
                        </p>
                      </div>
                    </div>
       
             
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  
  
  
  