<!-- <h2 class="page-head-title"> Dashboard General </h2>  -->
    <div class="light-font">
    <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb primary-color">
        <li class="breadcrumb-item active">Dashboard General  </li>
    </ol>
    </nav>
    </div>

<div class="main-content container-fluid ">
  <div class="col-md-12">

    <div class="be-content docs">
      <aside class="page-aside">
        <div class="be-scroller-aside">
          <div class="aside-content">
            <div class="content">
              <div class="aside-header">
                <button class="navbar-toggle" data-target="#aside-spy" data-toggle="collapse" type="button"><span class="icon mdi mdi-caret-down"></span></button><span class="title">Dashboard</span>
                <p class="description">Gráficas</p>
              </div>
            </div>
            <div class="navbar aside-nav" id="aside-spy">
              <ul class="navbar nav"> 
                <li class="nav-item"><a class="nav-link" (click)="position_filtros()" >Filtros</a>
                  <!-- href="#general_structure" -->
                </li>
                <li class="nav-item"><a class="nav-link" (click)="position_StockPorProducto()" >Stock por Producto</a>
                  <!-- href="#general_structure" -->
                </li>
                <li class="nav-item"><a class="nav-link" (click)="position_cumplimientoentrega()">Ordenes de Recepción</a>
                 
                </li>
                <!-- <li class="nav-item"><a class="nav-link" (click)="position_tiemposentrega()" >Tiempos de entrega</a></li>
                <li class="nav-item"><a class="nav-link" (click)="position_daysofweek()"  >Días de semana de entrega</a></li>
                <li class="nav-item"><a class="nav-link" (click)="position_otsxmanifiesto()">OTs por Manifiesto</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </aside>
      <div class="main-content container-fluid">
                  <div class="card card-border-color card-border-color-primary">
                      <div class="card-header">
                          <i class="fa fa-info-circle"></i>
                                <b> Filtro de búsqueda  </b>  
                          </div>
                      <div class="card-body">
                          <div class="row">
                            <div class="col-md-3">
                              <h5>Almacén :</h5>
                              <p-dropdown name="almacenes" [options]="almacenes" name="almacenes" [(ngModel)]="model.AlmacenId"  required
                                  scrollHeight="40vh" class="input-form-field"  required   [style]="{'width':'100%'}"  [resetFilterOnHide]="false" 
                                  [hideTransitionOptions]="'0ms'"
                                  [showTransitionOptions]="'0ms'" 
                                  placeholder="seleccione un almacén"  
                                  filter="false">
                                      <ng-template let-item pTemplate="selectedItem">
                                          <span style="vertical-align:left;">{{item.label}}</span>
                                      </ng-template>
                                </p-dropdown>
                           </div>
             
                              <div class="col-md-3">
                                  <h5>Propietario:</h5>
                                    <p-dropdown [options]="clientes"  [(ngModel)]="model.PropietarioId" 
                                            scrollHeight="40vh"   [style]="{'width':'100%'}"  [resetFilterOnHide]="true" 
                                            [hideTransitionOptions]="'0ms'"
                                            [showTransitionOptions]="'0ms'" 
                                            placeholder="seleccione un propietario"  
                                            filter="true">
                                        <ng-template let-item pTemplate="selectedItem">
                                            <span style="vertical-align:middle;">{{item.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                              </div>
                              <div class="col-md-3">
                                      <button   pButton iconPos="left" label="Buscar" icon="fa fa-search"   (click)="buscar()"  type="button"></button>
                              </div>
                          </div>
                      </div>
                  </div>



                  <div class="card card-border-color card-border-color-primary">
                        <div class="card-header">
                            <i class="fa fa-info-circle"></i>
                              <b> Gráficas  </b>  
                        </div>
                    
                    
                    
                        
                                    <div id="general_structure"  class="row">
                                    <div class="mt-5  col-md-12">
                                      <div class="widget widget-tile bg-white">
                                        <div class="chart sparkline" id="spark2"></div>
                                        <div class="data-info">
                                          <div class="report-title">STOCK POR PRODUCTO</div>
                                          <div *ngIf="chart">
                                              <canvas id="canvas2">{{ chart }}</canvas>
                                            </div>
                                        </div>

                                        </div>
                                      </div>

                                    </div>
                                    <div  id="getting_started" class="row">

                                      <div class="mt-5  col-md-12">
                                        <div class="widget widget-tile bg-white">
                                          <div class="chart sparkline" id="spark3"></div>
                                          <div class="data-info">
                                            <div class="report-title">ORDENES DE RECEPCIÓN</div>
                                            <div *ngIf="chart1">
                                                <canvas  id="canvas1">{{ chart1 }}</canvas>
                                              </div>
                                          </div>
  
                                          </div>
                                        </div>
                            
  
                                      </div> 
                                    <!-- <div  id="getting_started" class="row">

                                    <div class="col-md-12">
                                      <div class="widget widget-tile bg-white">
                                        <div class="chart sparkline" id="spark2"></div>
                                        <div class="data-info">
                                          <div class="report-title">CUMPLIMIENTO DE ENTREGA</div>
                                          <div *ngIf="chart1">
                                              <canvas width="250">{{ chart111 }}</canvas>
                                            </div>
                                        </div>

                                        </div>
                                      </div>
                          

                                    </div>  -->
                                     <!-- <div id="plugins" class="row">
                                        <div class="col-md-12">
                                          <div class="widget widget-tile bg-white">
                                            <div class="chart sparkline" id="spark2"></div>
                                            <div class="data-info">
                                              <div class="report-title">TIEMPOS DE ENTREGA</div>
                                              <div *ngIf="chart5">
                                                  <canvas width="200" height="100" id="canvas5">{{ chart5 }}</canvas>
                                                </div>
                                            </div>
                                            </div>
                                          </div>
                                    </div> -->
                     
                  </div>

          </div>
        </div>
  </div>
</div>
