

  .ui-datepicker {
  top: 129px !important;
  }


  .mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    position: absolute !important; 
    top:40px !important; 
    left:-30px !important; 
    z-index: 10000 !important;
    background: #fdd835 !important; 
    color: #000000 !important;
  }
  th, td {
    text-align: left;
    font-size: 0.85em;
    height : 5px;
    /* font-family: "Quicksand", "Trebuchet MS", Arial, Helvetica, sans-serif; */
    
  }
  .old-car {
    background-color: #1CA979 !important;
    color: #ffffff !important;
}

.very-old-car {
    background-color: #f12a2a !important;
    color: #ffffff !important;
}
  
.wrapper-div {
  display: flex;
  align-items: center;
  }